body {
  margin: 0;
  font-family: 'Teko-SemiBold', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  letter-spacing: 0.1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Color definitions to facilitate future theming */
  --props-default-background-color: #0d0d0f;
  --props-default-font-color: #fff;
  --props-disabled-font-color: #686868;
  --props-focus-ring-color: #ff00ff;
  --props-select-background-color: #101012;
  --props-inactive-toggle-color: #e4e5df;
  --props-active-toggle-color: #6096fa;
  --props-toggle-handle-color: #fff;
  --props-vertical-card-background: #292e31;
}

@font-face {
  font-family: 'Teko-SemiBold';
  src: local('Teko-SemiBold'), url(./fonts/Teko-SemiBold.ttf) format('truetype');
}
